body{
	background-color:#fff;
	height: 1000px;
		overflow: visible;

}

*{
	box-sizing: border-box;
	border: 0;
	padding: 0;

}

.outer_div{
	position: relative;
	width: 100%;
	overflow: visible;
}


#div_postion_absolute{

	position: absolute;
	top: 20px;
	right: 200px;
	height: 100px;
	width: 30%;
	background-color: red;
	z-index: 1;
}

#div_postion_relative{
	position: relative;
	height: 200px;
	background-color: green;
	border: 1px solid black;
}

#div_postion_sticky{
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;

}

#div_postion_fixed{
	position: fixed;
	height: 300px;
	background-color: blue;
	top: 0;
	right: 500px;
	z-index: 1;

}





.container2 {
	background-color: red;
}

.container2 p:nth-child(4){
	color: yellow;
}
